<div class="organizer-page">
  <!-- Estado SPLASH -->
  <app-splash-scream *ngIf="currentState === 'splash'"></app-splash-scream>
  
  <!-- Estado PRINCIPAL -->
  <app-principal-board 
    *ngIf="currentState === 'principal'"
    (startGame)="onStartGame()">
  </app-principal-board>
  
  <!-- Estado JUEGO -->
  <app-game-board 
    *ngIf="currentState === 'game'"
    (gameOver)="onGameOver()">
  </app-game-board>
  
  <!-- Estado FINAL -->
  <app-end-game-board 
    *ngIf="currentState === 'end'"
    (restart)="onRestart()">
  </app-end-game-board>
</div>